@import 'variables';
@import 'mixins';

.main-content-mecanica {
  background: $mecanica-bg url(images/bg-mecanica.jpg) no-repeat center;
  background-size: cover;
  min-height: 57rem;
}

  .mecanica__list {
    box-sizing: border-box;
    padding: 2rem 3.5rem;
    max-width: 50rem;
    width: 100%;
  }

    .mecanica__list-item {
      align-items: center;
      display: flex;
      padding-bottom: 1.2rem;
    }

      .mecanica__list-bullet {
        @include sprite-background('images/mecanica-bullet.png');
        color: $mecanica-bullet-text;
        display: block;
        flex-shrink: 0;
        font-size: 1.3rem;
        height: 3.4rem;
        line-height: 3.4rem;
        margin-right: 1rem;
        text-indent: 0;
        width: 3.4rem;
      }

      .mecanica__list-text {
        flex: 1 1 auto;
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: left;

        > a {
          border-bottom: .1rem solid $body-text;
        }
      }

@media (min-width: $screen-sm-min) {

  .main-content-mecanica {
    min-height: 82rem;
  }

    .mecanica__list-item {
      padding-bottom: 1.2rem;
    }

      .mecanica__list-bullet {
        font-size: 1.8rem;
        height: 4.2rem;
        line-height: 4.2rem;
        margin-right: 1rem;
        width: 4.2rem;
      }

      .mecanica__list-text {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

}

@media (min-width: $screen-md-min) {

  .main-content-mecanica {
    min-height: 70rem;
  }

}
