<h2>Mecanica</h2>

<ul class="mecanica__list">
  <li class="mecanica__list-item">
    <span class="mecanica__list-bullet">1</span>
    <p class="mecanica__list-text">La trivia está compuesta por 3 instancias de juego.</p>
  </li>
  <li class="mecanica__list-item">
    <span class="mecanica__list-bullet">2</span>
    <p class="mecanica__list-text">Cada etapa constará de 6 preguntas con 3 opciones de respuestas.</p>
  </li>
  <li class="mecanica__list-item">
    <span class="mecanica__list-bullet">3</span>
    <p class="mecanica__list-text">Cada pregunta tiene un valor 10 puntos y, por cada 3 preguntas respondidas correctamente de manera consecutiva, obtenés un bonus de 15 puntos.</p>
  </li>
  <li class="mecanica__list-item">
    <span class="mecanica__list-bullet">4</span>
    <p class="mecanica__list-text">A medida que las etapas se van habilitando, vas a recibir un mail para notificarte.</p>
  </li>
  <li class="mecanica__list-item">
    <span class="mecanica__list-bullet">5</span>
    <p class="mecanica__list-text">Para empezar a jugar, deberás ingresar tus datos, por única vez, en el formulario de inscripción.</p>
  </li>
  <li class="mecanica__list-item">
    <span class="mecanica__list-bullet">6</span>
    <p class="mecanica__list-text">Y listo, ¡ya estarás participando para ser parte de los Juegos Olímpicos de Río 2016!</p>
  </li>
  <li class="mecanica__list-item">
    <span class="mecanica__list-bullet">7</span>
    <p class="mecanica__list-text">Para más información, ver <a href="/bases-y-condiciones.html" target="_blank">bases y condiciones</a>.</p>
  </li>
</ul>

<a ui-sref="trivia" class="btn"><span class="btn__bullet"></span>Comenzar</a>
