/* Viewport Sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Colors */
$body-text: #fff;
$header-n-footer: #fff;
$header-text: #6a696d;
$footer-text: #757575;

/* Home */
$home-bg: #3f84d2;

/* Registro */
$registro-bg: #f15800;
$registro-input-bg: #ef5901;
$registro-input-border: #ce5209;

/* Reingreso */
$reingreso-input-bg: rgba(#0f5db3, .8);

/* Mecanica */
$mecanica-bg: #61b51f;
$mecanica-bullet-text: #3baa34;

/* Trivia */
$trivia-bg: #1ea2b3;

/* Resultado */
$resultado-info-title: #919191;
$resultado-info-info: #e61934;
